
@{
    ViewBag.Title = "Index";
}

<div id="contacts" class="inner-content">

    <section id="page-title" class="inner-section ui-menu-color04">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-normal color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">
                About Me
            </h2>
            <h5 class="font-accident-two-bold color01 uppercase subtitle"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="200"
                data-animation-distance="50px">
                If you would like to know more information, please contact me.
            </h5>
            <p class="small color01"
               data-animation-origin="right"
               data-animation-duration="400"
               data-animation-delay="300"
               data-animation-distance="50px">
                 I am a Greensboro native and animal lover.  After spending nearly a decade working in the veterinary field, I decided it was time for a change.
                The door to that change came when the opportunity arose to attend Coder Foundry's bootcamp.  I had been exploring the varoius coding languages prior
                to the start of the class and was surprised at how enjoyable it was.  Thus, I begin this new, exciting journey in a new career path.
            </p>
        </div>
    </section>

    <section id="contacts-data" class="inner-block">
        <div class="container-fluid nopadding">
            <div class="dividewhite8"></div>
            <div class="row">
                <div class="col-md-6"
                     data-animation-origin="right"
                     data-animation-duration="500"
                     data-animation-delay="500"
                     data-animation-distance="25px">
                    <div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Location:</span></div>
                        <div class="col-sm-10"><p class="small">Greensboro, NC</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Phone:</span></div>
                        <div class="col-sm-10"><p class="small">336.825.7563</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Email:</span></div>
                        <div class="col-sm-10"><p class="small">cwagner0604@gmail.com</p></div>
                    </div>
                </div>
                <div class="col-md-6"
                     data-animation-origin="right"
                     data-animation-duration="500"
                     data-animation-delay="800"
                     data-animation-distance="25px">
                    <div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Skype:</span></div>
                        <div class="col-sm-10"><p class="small">cwagner0604@gmail.com</p></div>
                    </div>
                    @*<div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Facbook:</span></div>
                        <div class="col-sm-10"><p class="small"><a href="#!">https://www.facebook.com/samanderson</a></p></div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Linkedin:</span></div>
                        <div class="col-sm-10"><p class="small"><a href="https://www.linkedin.com/in/christina-wagner-1529a83b/">https://www.linkedin.com/in/christina-wagner</a></p></div>
                    </div>
                </div>
            </div>
            <div class="dividewhite1"></div>

        </div>
    </section>

    <!-- Google Map Block -->
    <section id="contacts-map" class="inner-section" data-section="map"
             data-animation-origin="top"
             data-animation-duration="500"
             data-animation-delay="600"
             data-animation-distance="25px">
        <div class="container-fluid nopadding">
            <!-- Google Map -->
            <div>
                <div id="gm-panel">
                    @*<div id="google-map" class="bigmap"></div>*@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206318.43464773134!2d-79.97346303166287!3d36.100177924115236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8853193f38c77b79%3A0x93b9c49478be12c8!2sGreensboro%2C+NC!5e0!3m2!1sen!2sus!4v1504713514671" width="1140" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- /Google Map -->
        </div>
        <div class="dividewhite8"></div>
    </section>
    <!-- /Google Map Block -->

</div>