@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="blogpost" class="inner-content">

    <section id="page-title" class="inner-section"
             data-animation-origin="right"
             data-animation-duration="500"
             data-animation-delay="300"
             data-animation-distance="25px">
        <div class="container-fluid nopadding">
        </div>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm class=" inner-section feedback feedback-light"">
                    <div class="col-md-8 e-centered"
                         data-animation-origin="top"
                         data-animation-duration="500"
                         data-animation-delay="600"
                         data-animation-distance="25px">
                        <h3 class="font-accident-two-normal uppercase text-center">@ViewBag.Title</h3>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div>
    <h4 class="font-accident-two-normal uppercase text-center">An error occurred while processing your request.</h4>
</div>