@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="blogpost" class="inner-content">

    <section class="inner-section feedback feedback-light" data-section="feedback">

        <div class="container-fluid nopadding">

            <div class="row">

                <div class=""
                     data-animation-origin="top"
                     data-animation-duration="500"
                     data-animation-delay="400"
                     data-animation-distance="25px">
                    <div class="dividewhite2"></div>
                    <h3 class="font-accident-two-normal uppercase text-center">Forgot your password?</h3>
                    <div class="dividewhite1"></div>
                </div>
                <hr />
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8 e-centered"
                     data-animation-origin="top"
                     data-animation-duration="500"
                     data-animation-delay="600"
                     data-animation-distance="25px">
                    <div id="form-messages"></div>
                    <div>
                        <div class="wpcf7-form text-center">
                            <p>
                                Please check your email for how to reset your password.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>