@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid nopadding">

    @*<section id="details" class="padding-50 inner light bg-color01"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="100px">
        <div class="row">
            <div class="col-md-12 text-center nopadding">
                <div class="dividewhite2"></div>
                <h3 class="font-accident-two-normal uppercase">Gridus Resume HTML Template</h3>
                <div class="dividewhite6"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="500"
                 data-animation-distance="50px">
                <div class="row">
                    <div class="col-md-12"><i class="flaticon-photo246"></i></div>
                    <div class="col-md-12">
                        <div class="dividewhite1"></div>
                        <h5 class="font-accident-two-bold uppercase">Clean & Flat</h5>
                        <p class="small">
                            Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae WordPress theme
                        </p>
                    </div>
                </div>
                <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="700"
                 data-animation-distance="50px">
                <div class="row">
                    <div class="col-md-12"><i class="flaticon-pie-graph"></i></div>
                    <div class="col-md-12">
                        <div class="dividewhite1"></div>
                        <h5 class="font-accident-two-bold uppercase">Optimized</h5>
                        <p class="small">
                            It is perfect as a vCard, creative Portfolio or personal CV and resume website for artists, designers and job-seekers.
                        </p>
                    </div>
                </div>
                <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="900"
                 data-animation-distance="50px">
                <div class="row">
                    <div class="col-md-12"><i class="flaticon-clocks18"></i></div>
                    <div class="col-md-12">
                        <div class="dividewhite1"></div>
                        <h5 class="font-accident-two-bold uppercase">Customizable</h5>
                        <p class="small">
                            The Ready-to-use pre-defined color css classes make possible to Customize your websire in a wide range.
                        </p>
                    </div>
                </div>
                <div class="dividewhite2"></div>
            </div>
            <div class="col-md-3 infoblock text-center"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="1100"
                 data-animation-distance="50px">
                <div class="row">
                    <div class="col-md-12"><i class="flaticon-stats47"></i></div>
                    <div class="col-md-12">
                        <div class="dividewhite1"></div>
                        <h5 class="font-accident-two-bold uppercase">Multi-purpose</h5>
                        <p class="small">
                            Made for professionals, people who want to show their creative way to success. Share your experience with Gridus.
                        </p>
                    </div>
                </div>
                <div class="dividewhite2"></div>
            </div>
        </div>
    </section>*@

    @*<section id="photos" class="container-fluid">

        <div class="row flex-row">
            <div class="col-md-6 flex-column light nopadding bg-color01 flex-col"
                 data-animation-origin="left"
                 data-animation-duration="500"
                 data-animation-delay="800"
                 data-animation-distance="200px">

                <div class="flex-panel">
                    <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/photos/01.jpg" class="img-responsive">
                </div>

            </div>
            <div class="col-md-6 flex-column dark nopadding bg-color25 flex-col photo-caption-wrap"
                 data-animation-origin="right"
                 data-animation-duration="500"
                 data-animation-delay="800"
                 data-animation-distance="200px">

                <div class="photo-caption flex-panel padding-50 text-center owl-carousel" data-section="owl-carousel">
                    <div class="item">
                        <h3 class="font-accident-two-normal title">Highly Motivated</h3>
                        <h5 class="font-accident-two-bold subtitle hovercolor uppercase">perfect as a vCard or Portfolio</h5>
                        <p class="small">
                            Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae HTML template
                        </p>
                        <div class="dividewhite2"></div>
                        <a class="photo-more"></a>
                    </div>
                    <div class="item">
                        <h3 class="font-accident-two-normal title">Premium & Simple</h3>
                        <h5 class="font-accident-two-bold subtitle hovercolor uppercase">Special for for artists, designers and job-seekers</h5>
                        <p class="small">
                            Perfect for showing your experience, skills, works, education, clients, expertise, services and awards.
                        </p>
                        <div class="dividewhite2"></div>
                        <a class="photo-more"></a>
                    </div>
                    <div class="item">
                        <h3 class="font-accident-two-normal title">Fully-responsive resume</h3>
                        <h5 class="font-accident-two-bold subtitle hovercolor uppercase">ideal for professional persons</h5>
                        <p class="small">
                            Perfect for showing your experience, skills, works, education, clients, expertise, services and awards.
                        </p>
                        <div class="dividewhite2"></div>
                        <a class="photo-more"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row flex-row">
            <div class="col-md-6 flex-column dark nopadding bg-color25 flex-col photo-caption-wrap"
                 data-animation-origin="left"
                 data-animation-duration="500"
                 data-animation-delay="900"
                 data-animation-distance="200px">

                <div class="photo-caption flex-panel padding-50 text-center">
                    <h3 class="font-accident-two-normal title">Creative & Experienced</h3>
                    <h5 class="font-accident-two-bold subtitle hovercolor uppercase">Clean & Flat</h5>
                    <p class="small">
                        Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae HTML template
                    </p>
                    <div class="dividewhite2"></div>
                    <a class="photo-more"></a>
                </div>

            </div>
            <div class="col-md-6 flex-column light nopadding bg-color01 flex-col"
                 data-animation-origin="right"
                 data-animation-duration="500"
                 data-animation-delay="900"
                 data-animation-distance="200px">

                <div class="flex-panel">
                    <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/photos/02.jpg" class="img-responsive">
                </div>

            </div>
        </div>

    </section>*@

    @*<section id="counts" class="padding-60 dark ui-block-color03" data-section="counter"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="100px">
        <div class="count-container row">
            <div class="col-lg-4 col-sm-4 col-xs-12 count">
                <div data-animation-origin="top"
                     data-animation-duration="400"
                     data-animation-delay="500"
                     data-animation-distance="50px">
                    <div class="count-icon">
                        <i class="flaticon-photo246"></i>
                    </div>
                    <span class=".integers digit font-accident-two-normal" data-counter="120">0</span>

                    <div class="count-text font-accident-two-bold">Photo Sets</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 count">
                <div data-animation-origin="top"
                     data-animation-duration="400"
                     data-animation-delay="700"
                     data-animation-distance="50px">
                    <div class="count-icon">
                        <i class="flaticon-book-bag2"></i>
                    </div>
                    <span class=".integers digit font-accident-two-normal" data-counter="90">0</span>

                    <div class="count-text font-accident-two-bold">Showcases</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 count">
                <div data-animation-origin="top"
                     data-animation-duration="400"
                     data-animation-delay="900"
                     data-animation-distance="50px">
                    <div class="count-icon">
                        <i class="flaticon-stats48"></i>
                    </div>
                    <span class=".integers digit font-accident-two-normal" data-counter="45">0</span>

                    <div class="count-text font-accident-two-bold">Awards</div>
                </div>
            </div>
        </div>
        <div class="dividewhite2"></div>
    </section>*@

    <section id="" class="" data-section="home">
        <div class="row flex-row row-no-padding">
            <div id="pro-experience" class="col-md-6 flex-column dark ui-block-color02"
                 data-animation-origin="left"
                 data-animation-duration="500"
                 data-animation-delay="500"
                 data-animation-distance="100px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase">Professional Experience</h3>
                    <div class="dividewhite4"></div>
                    <div class="experience">
                        <ul class="">
                            <li class="date">07/2017 - present</li>
                            <li class="company uppercase">
                                <a>
                                    Coder Foundry, Kernersville, NC
                                </a>
                            </li>
                            <li class="position">Student</li>
                        </ul>
                        <ul class="">
                            <li class="date">01/2016 - 07/2017</li>
                            <li class="company uppercase">
                                <a>
                                    Veterinary Specialty Hospital, Cary, NC
                                </a>
                            </li>
                            <li class="position">Oncology Nurse II</li>
                        </ul>
                        <ul class="">
                            <li class="date">08/2009 - 01/2016</li>
                            <li class="company uppercase">
                                <a>
                                    Carolina Veterinary Specialists, Greensboro, NC
                                </a>
                            </li>
                            <li class="position">Specialty Registered Veterinary Technician</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Index", "Resume")" class="btn btn-wh-trans btn-xs">Learn More</a>
                    <div class="dividewhite1"></div>
                </div>
            </div>
            <div id="personal" class="col-md-6 flex-column light ui-block-color01 personal"
                 data-animation-origin="right"
                 data-animation-duration="500"
                 data-animation-delay="600"
                 data-animation-distance="100px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase">Personal Information</h3>
                    <div class="dividewhite4"></div>
                    <div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Name:</p></div>
                            <div class="two"><p class="">Christina Wagner</p></div>
                        @*</div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase text-nowrap">Date of Birth:</p></div>
                            <div class="two"><p class="">06/04/1983</p></div>
                        </div>*@
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Location:</p></div>
                            <div class="two"><p class="">Greensboro, NC</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Phone:</p></div>
                            <div class="two"><p class="">336.825.7563</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Email:</p></div>
                            <div class="two"><p class="">cwagner0604@gmail.com</p></div>
                        </div>
                    </div>
                    <div class="dividewhite1"></div>
                </div>
            </div>
        </div>
    </section>

    @*<section id="photo" class="light">
        <div class="row row-no-padding">
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="200"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12328429_1661245097460326_255494091_n.jpg" class="img-responsive" alt="01"></div>
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="400"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12599154_962398730508083_979241627_n.jpg" class="img-responsive" alt="01"></div>
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="600"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12677660_174383292934538_1188800865_n.jpg" class="img-responsive" alt="01"></div>
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="800"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12716546_444262579096572_467284739_n.jpg" class="img-responsive" alt="01"></div>
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="1000"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12819136_834492543346861_161860596_n.jpg" class="img-responsive" alt="01"></div>
            <div class="col-md-2 col-xs-6 nopadding"
                 data-animation-origin="left"
                 data-animation-duration="400"
                 data-animation-delay="1200"
                 data-animation-distance="0px"><img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/instagram/12826108_260008874330168_1360366906_n.jpg" class="img-responsive" alt="01"></div>
        </div>
    </section>*@

</div>