@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid nopadding">

    <section id="" class="" data-section="home">
        <div class="row flex-row row-no-padding">
            <div id="pro-experience" class="col-md-6 flex-column dark ui-block-color02"
                 data-animation-origin="left"
                 data-animation-duration="500"
                 data-animation-delay="500"
                 data-animation-distance="100px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase">Professional Experience</h3>
                    <div class="dividewhite4"></div>
                    <div class="experience">
                        <ul class="">
                            <li class="date">07/2017 - present</li>
                            <li class="company uppercase">
                                <a>
                                    Coder Foundry, Kernersville, NC
                                </a>
                            </li>
                            <li class="position">Student</li>
                        </ul>
                        <ul class="">
                            <li class="date">01/2016 - 07/2017</li>
                            <li class="company uppercase">
                                <a>
                                    Veterinary Specialty Hospital, Cary, NC
                                </a>
                            </li>
                            <li class="position">Oncology Nurse II</li>
                        </ul>
                        <ul class="">
                            <li class="date">08/2009 - 01/2016</li>
                            <li class="company uppercase">
                                <a>
                                    Carolina Veterinary Specialists, Greensboro, NC
                                </a>
                            </li>
                            <li class="position">Specialty Registered Veterinary Technician</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Index", "Resume")" class="btn btn-wh-trans btn-xs">Learn More</a>
                    <div class="dividewhite1"></div>
                </div>
            </div>
            <div id="personal" class="col-md-6 flex-column light ui-block-color01 personal"
                 data-animation-origin="right"
                 data-animation-duration="500"
                 data-animation-delay="600"
                 data-animation-distance="100px">
                <div class="padding-50 flex-panel">
                    <h3 class="font-accident-two-normal uppercase">Personal Information</h3>
                    <div class="dividewhite4"></div>
                    <div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Name:</p></div>
                            <div class="two"><p class="">Christina Wagner</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Location:</p></div>
                            <div class="two"><p class="">Greensboro, NC</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Phone:</p></div>
                            <div class="two"><p class="">336.825.7563</p></div>
                        </div>
                        <div class="fullwidth box">
                            <div class="one"><p class="uppercase">Email:</p></div>
                            <div class="two"><p class="">cwagner0604@gmail.com</p></div>
                        </div>
                    </div>
                    <div class="dividewhite1"></div>
                </div>
            </div>
        </div>
    </section>

</div>