
@{
    ViewBag.Title = "BugTracker";
}

<div id="portfolio-item-page" class="inner-content">
    <section class="inner-section">

        <div class="post-header"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="50px">
            <h2 class="font-accident-two-normal">BugTracker</h2>
            <div class="dividewhite1"></div>
        </div>
        <div class="dividewhite4"></div>
        <div class="row">

            <div id="portfolio-overview" class="col-md-6"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="600"
                 data-animation-distance="50px">

                <div class="dividewhite2"></div>
                <!-- Post Content -->
                <h3 class="font-regular-normal">Project Showcases:</h3>
                <div class="dividewhite4"></div>

                <div class="portfolio-item-details table">
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">C#</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#" rel="tag">HTML</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">MVC</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#" rel="tag">Razor</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">Bootstrap Template</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">JavaScript/JQuery</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">Ajax</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">SignalR</a></span></div>
                    </div>
                </div>

                <div class="dividewhite4"></div>
                <p>
                    Click the image to the right to view and demo the BugTracker, a site designed for teamwork on projects and resolution of bug tickets.
                </p>
                <p>
                    The BugTracker is unique at this stage in my learning curve in that it is much more complex than anything leading up to this point.  
                    This is also the first project that was completed with little instruction/guidance from the instructors.  Here, I have had to manipulate 
                    multiple data tables and figure out how to display information from multiple models on a single view.  I have also stretched out to dive 
                    into the diversity of multiple user roles and many different permissions associated with each role.
                </p>
                <p>
                    This project is also unique to me with the usage of a Bootstrap Template with data-tables.  Compared to my E-commerce site, 
                    my BugTracker feels much more clean and unified.  To benefit user experience, I have incorporated a JQuery toggle to display the ticket 
                    comment editor in the place of the original comment.  Additionally, I used Ajax to help display the SweetAlert delete confirmation box 
                    when deleting ticket comments or attachments.  Lastly, I used SignalR to implement the in-app notification system.
                </p>
                <div class="dividewhite4"></div>

                <!-- /Post Content -->
            </div>
            <div class="col-md-5 col-md-offset-1"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="400"
                 data-animation-distance="50px">

                <div class="row">
                    <div class="col-xs-12">
                        <figure class="effect-goliath ui-menu-color02"
                                data-animation-origin="left"
                                data-animation-duration="600"
                                data-animation-delay="400"
                                data-animation-distance="100px">
                            <div class="popup-call">
                                <a href="http://cwagner-bugtracker.azurewebsites.net/" target="_blank" class="gallery-item"></a>
                            </div>
                            <img src="/wwwroot/images/bug1.jpg" class="img-responsive" alt="img11" />
                            <figcaption>
                                <a href="http://cwagner-bugtracker.azurewebsites.net/" target="_blank"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>

        </div>

    </section>
</div>