
@{
    ViewBag.Title = "FinancialPortal";
}

<div id="portfolio-item-page" class="inner-content">
    <section class="inner-section">

        <div class="post-header"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="50px">
            <h2 class="font-accident-two-normal">Financial Portal</h2>
            <div class="dividewhite1"></div>
        </div>
        <div class="dividewhite4"></div>
        <div class="row">

            <div id="portfolio-overview" class="col-md-6"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="600"
                 data-animation-distance="50px">

                <div class="dividewhite2"></div>
                <!-- Post Content -->
                <h3 class="font-regular-normal">Project Showcases:</h3>
                <div class="dividewhite4"></div>

                <div class="portfolio-item-details table">
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">C#</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#" rel="tag">HTML</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">MVC</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#" rel="tag">Razor</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">Bootstrap Template</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">JavaScript/JQuery</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">Ajax</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">LINQ</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">SQL</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell"><span> <a href="!#">N-tier</a></span></div>
                    </div>
                </div>

                <div class="dividewhite4"></div>
                <p>
                    Click the image to the right to view and demo the Financial Portal.  This one is pretty self-explanatory. Balance accounts.  Track a budget.
                </p>
                <p>
                    Please check out my code to this project.  There is a link to my GitHub projects in the upper right corner of this portfolio.  I took on 
                    I spent extra time on this project to concentrate on my code and learn about N-tier architecture, separation, abstraction, and the value of code cleanliness.  
                    I also did not use scaffolding to autopopulate my CRUD operations.  This added another level of difficulty since I hadn't actually created 
                    these methods before (previously relying on scaffolding).  Compared to my BugTracker, I feel that my Financial Poral is much more organized, easy to navigate, and read.  I also 
                    used SQL to join data to create the graphs on my dashboard page.
                </p>
                <div class="dividewhite4"></div>

                <!-- /Post Content -->
            </div>
            <div class="col-md-5 col-md-offset-1"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="400"
                 data-animation-distance="50px">

                <div class="row">
                    <div class="col-xs-12">
                        <figure class="effect-goliath ui-menu-color02"
                                data-animation-origin="left"
                                data-animation-duration="600"
                                data-animation-delay="400"
                                data-animation-distance="100px">
                            <div class="popup-call">
                                <a href="http://wagnerfinancialportal.azurewebsites.net/" target="_blank" class="gallery-item"></a>
                            </div>
                            <img src="/wwwroot/images/budget.jpeg" class="img-responsive" alt="img11" />
                            <figcaption>
                                <a href="http://wagnerfinancialportal.azurewebsites.net/" target="_blank"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>

        </div>

    </section>
</div>