
@{
    ViewBag.Title = "Index";
}

<div id="portfolio" class="inner-content">

    <section id="page-title" class="inner-section ui-menu-color03">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-normal color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">
                Portfolio
            </h2>
            <h5 class="font-accident-two-bold color01 uppercase subtitle"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="200"
                data-animation-distance="50px">
            </h5>
            <p class="small color01"
               data-animation-origin="right"
               data-animation-duration="400"
               data-animation-delay="300"
               data-animation-distance="50px">
                Here you can browse my various javascript exercises and projects.
            </p>
        </div>
    </section>

    
    <!-- Portfolio Block -->
    <section id="portfolio-block" class="inner-section" data-section="portfolio">

        <div class="dividewhite6"></div>

        <div id="isotope-filters" class="port-filter port-filter-light text-center"
             data-animation-origin="top"
             data-animation-duration="500"
             data-animation-delay="200"
             data-animation-distance="25px">
        </div>

        <div class="dividewhite6"></div>

        <div class="row masonry-row">

            <div class="grid container-fluid text-center">

                <div id="posts" class="row popup-container">

                    <div class="grid-item col-xs-6 col-sm-8 col-md-6">
                        <div class="item-wrap">
                            <figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="left"
                                    data-animation-duration="600"
                                    data-animation-delay="400"
                                    data-animation-distance="100px">
                                <div class="popup-call">
                                    <a href="http://cwagner-shopping.azurewebsites.net/" class="gallery-item"></a>
                                </div>
                                <img src="/wwwroot/images/shoppingCart.jpg" class="img-responsive"  alt="img11" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>Ecommerce Site</h3>
                                        <p>Uses: Html, C#, MVC, Razor, Javascript, CSS</p>
                                    </div>
                                    <a href="http://cwagner-shopping.azurewebsites.net/" target="_blank"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="grid-item grid-sizer projects col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                            <!--Placeholder for Bug Tracker-->
                            @*<figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="top"
                                    data-animation-duration="400"
                                    data-animation-delay="400"
                                    data-animation-distance="50px">
                                <div class="popup-call">
                                    <a href="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/02.jpg" class="gallery-item"><i class="flaticon-tool"></i></a>
                                </div>
                                <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/02.jpg" class="img-responsive" alt="img03" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>Awesome <span>Skills</span></h3>
                                        <p>#web #seo</p>
                                    </div>
                                    <a href="portfolio-item-01.html"></a>
                                </figcaption>
                            </figure>*@
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                            <figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="right"
                                    data-animation-duration="400"
                                    data-animation-delay="400"
                                    data-animation-distance="50px">
                                <div class="popup-call">
                                    <a href="/wwwroot/images/javaScript.png" class="gallery-item"></a>
                                </div>
                                <img src="/wwwroot/images/javaScript.png" class="img-responsive" alt="img11" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>JavaScript Logic Problems</h3>
                                        <p>Uses: HTML, jQuery</p>
                                    </div>
                                    <a href="@Url.Action("JS", "Portfolio")"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item marketing col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item web col-xs-6 col-sm-8 col-md-6">
                        <div class="item-wrap">
                            <!--Placeholder for Fianancial Portal-->
                            @*<figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="right"
                                    data-animation-duration="600"
                                    data-animation-delay="400"
                                    data-animation-distance="100px">
                                <div class="popup-call">
                                    <a href="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/09.jpg" class="gallery-item"><i class="flaticon-tool"></i></a>
                                </div>
                                <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/09.jpg" class="img-responsive'" alt="img11" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>Responsive <span>Design</span></h3>
                                        <p>#web #seo </p>
                                    </div>
                                    <a href="portfolio-item-01.html"></a>
                                </figcaption>
                            </figure>*@
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item web col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                            <!--Placeholder for another project-->
                            @*<figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="right"
                                    data-animation-duration="400"
                                    data-animation-delay="500"
                                    data-animation-distance="50px">
                                <div class="popup-call">
                                    <a href="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/13.jpg" class="gallery-item"><i class="flaticon-tool"></i></a>
                                </div>
                                <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/13.jpg" class="img-responsive" alt="img03" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>Mad <span>Skills</span></h3>
                                        <p>#web #seo</p>
                                    </div>
                                    <a href="portfolio-item-01.html"></a>
                                </figcaption>
                            </figure>*@
                        </div>
                    </div>

                    <div class="grid-item seo col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                            <!--Placeholder for another project, if needed-->
                            @*<figure class="effect-goliath ui-menu-color02"
                                    data-animation-origin="left"
                                    data-animation-duration="400"
                                    data-animation-delay="500"
                                    data-animation-distance="50px">
                                <div class="popup-call">
                                    <a href="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/14.jpg" class="gallery-item"><i class="flaticon-tool"></i></a>
                                </div>
                                <img src="/wwwroot/assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/14.jpg" class="img-responsive" alt="img03" />
                                <figcaption>
                                    <div class="fig-description">
                                        <h3>Awesome <span>Calls</span></h3>
                                        <p>#web #seo</p>
                                    </div>
                                    <a href="portfolio-item-01.html"></a>
                                </figcaption>
                            </figure>*@
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-8 col-md-6">
                        <div class="item-wrap">
                        </div>
                    </div>

                    <div class="grid-item col-xs-6 col-sm-4 col-md-3">
                        <div class="item-wrap">
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="dividewhite8"></div>

    </section>
    <!-- /Portfolio Block -->
</div>