
@{
    ViewBag.Title = "JS";
}

<div id="portfolio-item-page" class="inner-content">
    <section class="inner-section">

        <div class="post-header"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="50px">
            <h2 class="font-accident-two-normal">The New Design Project</h2>
            <p>The Product visual Concept</p>
            <div class="dividewhite1"></div>
        </div>
        <div class="dividewhite4"></div>
        <div class="row">

            <div id="portfolio-overview" class="col-md-4"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="600"
                 data-animation-distance="50px">

                <div class="dividewhite2"></div>
                <!-- Post Content -->
                <h3 class="font-regular-normal">Project Data</h3>
                <div class="dividewhite4"></div>

                <div class="portfolio-item-details table">
                    <div class="row table-row">
                        <div class="table-cell">Date:</div>
                        <div class="table-cell"><span> <a href="!#">May 10, 2016</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell">Categories:</div>
                        <div class="table-cell"><span> <a href="!#" rel="tag">Product Design</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell">Tags:</div>
                        <div class="table-cell"><span> <a href="!#" rel="tag">design</a>, <a href="#" rel="tag">product</a>, <a href="#" rel="tag">visualisation</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell">Author:</div>
                        <div class="table-cell"><span> <a href="!#" ">Samuel Anderson</a></span></div>
                    </div>
                    <div class="row table-row">
                        <div class="table-cell">Client:</div>
                        <div class="table-cell"><span> <a href="!#">SubRoutine LLC</a></span></div>
                    </div>
                </div>

                <div class="dividewhite4"></div>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                </p>
                <div class="dividewhite4"></div>


                <div class="row">
                    <div class="col-md-5">
                        <h3 class="font-regular-normal">Services</h3>
                        <div class="dividewhite2"></div>
                        <ul class="portfolio-item-details">
                            <li>Draft Sketching</li>
                            <li>Product Prototype</li>
                            <li>3D Modelling</li>
                            <li>3d Render</li>
                            <li>Post Production</li>
                        </ul>
                        <div class="dividewhite6"></div>
                    </div>
                    <div class="col-md-7">
                        <h3 class="font-regular-normal">Share</h3>
                        <div class="dividewhite2"></div>
                        <div class="share">
                            <ul class="list-inline social">
                                <li><a target="_blank" href="#" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a target="_blank" href="#" class="rst-icon-google"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="dividewhite6"></div>
                    </div>
                </div>







                <!-- /Post Content -->
            </div>
            <div class="col-md-7 col-md-offset-1"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="400"
                 data-animation-distance="50px">

                <div class="row">

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <div class="check red">hot!</div>
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/01.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/02.png" class="logo">
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <div class="check blue">new!</div>
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/03.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/04.png" class="logo">
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/05.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/06.png" class="logo">
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/07.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/08.png" class="logo">
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/09.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/10.png" class="logo">
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/11.png" class="logo">
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center logo-container bg-color02">
                        <img src="assets/custom/2.2.0/images/layouts/helena/clients/dark/12.png" class="logo">
                    </div>

                </div>


            </div>

        </div>

        <div class="dividewhite8"></div>

        <!-- Portfolio Block -->
        <section id="portfolio" data-section="portfolio"
                 data-animation-origin="right"
                 data-animation-duration="400"
                 data-animation-delay="700"
                 data-animation-distance="50px">

            <div class="dividewhite6"></div>

            <h3 class="font-regular-normal">Related Products</h3>
            <div class="dividewhite4"></div>

            <div class="row masonry-row">

                <div class="grid container-fluid text-center">

                    <div id="posts" class="row popup-container">

                        <div class="grid-item web grid-sizer col-xs-12 col-sm-6 col-md-3">
                            <div class="item-wrap">
                                <figure class="effect-goliath ui-menu-color02">
                                    <div class="popup-call">
                                        <a href="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/05.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                                    </div>
                                    <img src="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/05.jpg" class="img-responsive'" alt="img11" />
                                    <figcaption>
                                        <div class="fig-description">
                                            <h3>Music <span>Sounds</span></h3>
                                            <p>#web #seo </p>
                                        </div>
                                        <a href="portfolio-item-01.html"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="grid-item grid-sizer web seo col-xs-12 col-sm-6 col-md-3">
                            <div class="item-wrap">
                                <figure class="effect-goliath ui-menu-color02">
                                    <div class="popup-call">
                                        <a href="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/11.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                                    </div>
                                    <img src="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/11.jpg" class="img-responsive" alt="img03" />
                                    <figcaption>
                                        <div class="fig-description">
                                            <h3>Fire <span>Burns</span></h3>
                                            <p>#web #seo</p>
                                        </div>
                                        <a href="portfolio-item-01.html"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="grid-item marketing seo col-xs-12 col-sm-6 col-md-3">
                            <div class="item-wrap">
                                <figure class="effect-goliath ui-menu-color02">
                                    <div class="popup-call">
                                        <a href="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/04.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                                    </div>
                                    <img src="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/04.jpg" class="img-responsive" alt="img11" />
                                    <figcaption>
                                        <div class="fig-description">
                                            <h3>Ice <span>Cold</span></h3>
                                            <p>#marketing</p>
                                        </div>
                                        <a href="portfolio-item-01.html"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="grid-item marketing seo col-xs-12 col-sm-6 col-md-3">
                            <div class="item-wrap">
                                <figure class="effect-goliath ui-menu-color02">
                                    <div class="popup-call">
                                        <a href="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/12.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                                    </div>
                                    <img src="assets/custom/2.2.0/images/layouts/helena/portfolio/4-columns/12.jpg" class="img-responsive" alt="img03" />
                                    <figcaption>
                                        <div class="fig-description">
                                            <h3>Everybody <span>Lies</span></h3>
                                            <p>#marketing</p>
                                        </div>
                                        <a href="portfolio-item-01.html"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="dividewhite8"></div>

        </section>
        <!-- /Portfolio Block -->

    </section>
</div>