
@{
    ViewBag.Title = "JS";
}

<div id="portfolio-item-page" class="inner-content">
    <section class="inner-section">

        <div class="post-header"
             data-animation-origin="right"
             data-animation-duration="400"
             data-animation-delay="100"
             data-animation-distance="50px">
            <h2 class="font-accident-two-normal">JavaScript</h2>
        </div>
        <div class="row">

            <div id="portfolio-overview" class="col-md-4"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="600"
                 data-animation-distance="50px">

                <div class="dividewhite2"></div>

                <!-- Post Content -->
                <h4 class="font-regular-normal"><b>Logic Problems</b></h4>

                <div class="dividewhite4"></div>
                <p>
                    The JavaScript exercises displayed to the right are designed to showcase the flow of logic when trying to use, manipulate, and sort user input via strings and
                    arrays. Click on any exercise to learn more about it, test it, and view my source code.
                </p>
                <div class="dividewhite4"></div>


                <div class="row">
                    <div class="col-md-5">
                        <h4 class="font-regular-normal">Exercises use:</h4>
                        <div class="dividewhite2"></div>
                        <ul class="portfolio-item-details">
                            <li>HTML</li>
                            <li>jQuery</li>
                        </ul>
                        <div class="dividewhite6"></div>
                    </div>
                </div>

                <!-- /Post Content -->
            </div>
            <div class="col-md-7 col-md-offset-1"
                 data-animation-origin="top"
                 data-animation-duration="400"
                 data-animation-delay="400"
                 data-animation-distance="50px">
                <div class="row">
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/5numbersIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/5numbers.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/5numbers.js"
                       data-title="Math">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Math</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/FactorialIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/Factorial.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/Factorial.js"
                       data-title="Factorial">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color0 hvr-sweep-to-bottom6">
                            <div class="vertical-center">
                                <h3>Factorial</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/FizzBuzzIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/FizzBuzz.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/FizzBuzz.js"
                       data-title="FizzBuzz">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>FizzBuzz</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/PalindromeIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/Palindrome.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/Palindrome.js"
                       data-title="Palindrome">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Palindrome</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/alphabetOrderIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/alphabetOrder.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/alphabetOrder.js"
                       data-title="Alphabet Order">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Alphabet</h3>
                                <h3>Order</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/combinationIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/combination.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/combination.js"
                       data-title="Combination">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Combination</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/primeNumberIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/primeNumber.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/primeNumber.js"
                       data-title="Prime Number">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Prime</h3>
                                <h3>Number</h3>
                            </div>
                        </div>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/upperCaseIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/upperCase.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/upperCase.js"
                       data-title="Upper Case">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Upper</h3>
                                <h3>Case</h3>
                            </div>
                        </div>

                    </a>
                    <a href="#" data-toggle="modal" data-target="#jsExerciseModal"
                       data-intro-source="~/wwwroot/assets/custom/2.2.0/js/exercises/vowelCountIntro.html"
                       data-html-source="~/wwwroot/assets/custom/2.2.0/js/exercises/vowelCount.html"
                       data-javascript-source="~/wwwroot/assets/custom/2.2.0/js/exercises/vowelCount.js"
                       data-title="Vowel Counter">
                        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 text-center text-white logo-container ui-menu-color06 hvr-sweep-to-bottom">
                            <div class="vertical-center">
                                <h3>Vowel</h3>
                                <h3>Counter</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--Modal-->
        <div class="modal fade" id="jsExerciseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content customModal">
                    <div class="modal-header ui-menu-color06">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-white" id="jsExerciseModalTitle"></h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <ul class="nav nav-tabs customTabs">
                            <li class="nav-item active">
                                <a href="#1a" data-toggle="tab">Intro</a>
                            </li>
                            <li class="nav-item">
                                <a href="#2a" data-toggle="tab">Demo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#3a" data-toggle="tab">Source Code</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix padding-30" id="jsExerciseModalContent">
                        </div>
                    </div>
                    <div class="modal-footer ui-bg-color02"></div>
                </div>
            </div>
        </div>

    </section>
</div>

@section Scripts
{
    <script>
        $('#jsExerciseModal').on('shown.bs.modal', function (e) {
            var title = $(e.relatedTarget).data("title");
            $("#jsExerciseModalTitle").text(title);
            $.post("/Portfolio/LoadJavascriptModal",
                {
                    intro: $(e.relatedTarget).data("intro-source"),
                    html: $(e.relatedTarget).data("html-source"),
                    javascript: $(e.relatedTarget).data("javascript-source")
                },
                function (result, status) {
                    $("#jsExerciseModalContent").html(result);
                });
        })
    </script>
}